node_modules/
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
.DS_Store
xcuserdata/

## Build generated
build/
DerivedData/

.envrc
.vim/coc-settings.json
WeatherAPIKey.ts
src/firebase/config.ts
node_modules
vendor
